@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-Black.woff2") format("woff2"), url("../fonts/Juno-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-BoldItalic.woff2") format("woff2"), url("../fonts/Juno-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-Bold.woff2") format("woff2"), url("../fonts/Juno-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-MediumItalic.woff2") format("woff2"), url("../fonts/Juno-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-Medium.woff2") format("woff2"), url("../fonts/Juno-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-RegularItalic.woff2") format("woff2"), url("../fonts/Juno-RegularItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Juno";
	src: url("../fonts/Juno-Regular.woff2") format("woff2"), url("../fonts/Juno-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ol li,
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	font-size: 14px;
	line-height: 1;
}
/* -------------- */
body {
	font-family: Juno;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px 0px;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px 10px;
}
.header {
	text-align: center;
}

.header__title {
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 3px 2px 4px crimson;
	color: blanchedalmond;
	text-align: center;
	margin: 0px 0px 40px 0px;
}
.fl,
.fr {
	display: inline-block;
	width: 2px;
	height: 150px;
	background-color: #000;
	margin: 0px 10px 0px 0px;
}
.fr {
	margin: 0px 0px 0px -140px;
}
.header__block {
	display: inline-block;
	width: 200px;
	height: 70px;
	border-bottom: 1px solid;
	border-top: 2px solid;
	text-align: center;
	margin: 0px 150px 50px 0px;
	border-radius: 60%;
	overflow: hidden;
	box-shadow: 0px 2px 10px 0px #000;
}

.header__block:hover {
	border-top: transparent;
	border-bottom: 3px solid #000;
	box-shadow: 0px 2px 10px 0px #000, inset 10px 10px 100px 2px rgba(233, 195, 195, 0.637);
}
.header__block:hover .header__blockone {
	opacity: 0;
}
.header__blockone {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color: rgba(0, 129, 250, 0.747);
	border-radius: 50%;
	box-shadow: inset 5px 5px 25px 5px #fff, 0px 1px 1px 1px #000;
	line-height: 80px;
}
.header__blockone span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}
/*=========================================*/
.content {
	border-bottom: 5px dotted #040404;
	padding: 50px 0px;
}
.content__blockone {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 7px double #fff;
	background-color: rgba(221, 158, 21, 0.712);
	border-radius: 50%;
	text-align: center;
	padding: 5px;
	box-shadow: 0px 0px 100px;
	margin: 0px 50px 30px 0px;
	vertical-align: top;
}
.content__blockone > span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px dotted #000;
}
.win span {
	font-size: 50px;
	font-weight: 500;
	font-style: italic;
	text-shadow: 1px 0px 1px #940499;
}
.block {
	display: inline-block;
	width: 200px;
	height: 180px;
	box-shadow: inset 5px 3px 50px 20px #940499;
	border-top: 10px dashed;
	border-radius: 0px 0px 10px 40px;
	margin: 0px 50px 30px 0px;
}
.blockone {
	display: inline-block;
	width: 200px;
	height: 180px;
	box-shadow: inset 50px 30px 80px 20px #049936;
	border-bottom: 10px dashed blue;
	border-top: 10px dashed red;
	border-radius: 0px 70px 10px 70px;
	margin: 0px 50px 30px 0px;
}
.blocktwo {
	display: inline-block;
	width: 500px;
	height: 150px;
	box-shadow: 5px 3px 30px 0px #fff;
	border-bottom: 10px dashed blue;
	border-top: 10px dashed red;
	border-radius: 70%;
	margin: 0px 50px 30px 0px;
}
.text {
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	display: inline;
	text-shadow: 2px 3px 3px #040404;
}
.text p {
	display: inline;
	outline: 2px dashed;
	box-shadow: 2px 2px 2px 2px;
}
.content__blocktwo {
	margin: 20px 0px 0px 0px;
	min-width: 100px;
	min-height: 100px;
	background-color: aquamarine;
	padding: 10px;
	overflow: scroll;
	border-top: 5px solid red;
	border-left: 3 double blue;
	text-align: center;
}
.content__link {
	display: inline-block;
	width: 40px;
	height: 20px;
	background-color: brown;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	margin: 20px 0px 0px 0px;
}
.content__link:hover {
	background-color: rgb(196, 67, 67);
	text-decoration: underline;
}
/*=======================================*/
.footer {
	padding: 30px 0px;
	text-align: center;
}
.footer__tilte {
	margin: 0px 0px 50px 0px;
	font-size: 40px;
	font-weight: 900;
	text-decoration: underline;
	text-transform: uppercase;
	visibility: hidden;
}
.footer__blockone {
	display: inline-block;
	min-height: 200px;
	width: 200px;
	border: 20px double greenyellow;
	box-shadow: 10px 10px 15px 1px tomato, 10px -12px 15px 1px tomato;
	margin: 0px 0px 30px 0px;
	border-bottom: 3px solid forestgreen;
	border-top: 3px solid forestgreen;
}
.footer__blockone a {
	display: inline-block;
	border: 1px dotted red;
	padding: 10px;
	border-radius: 30px;
	box-shadow: inset 0px 25px 0px 10px #fff, 2px 2px 0px 0px rgb(95, 17, 17);
	margin: 72px 0px 0px 0px;
}
.footer__blockone a:hover {
	text-decoration: underline;
	box-shadow: inset 0px 25px 0px 10px rgb(241, 206, 159), 1px 1px 0px 0px rgb(95, 17, 17);
}
.footer__blockone:hover {
	border: 20px double transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
	box-shadow: 10px 10px 15px 1px rgb(10, 10, 10);
}
.footer__blocktwo {
	font-style: italic;
	font-weight: 500;
	box-shadow: 10px 10px 10px 10px violet;
	text-transform: uppercase;
	overflow: auto;
	border-radius: 30px 30px 0px 10px;
	overflow: visible;
	padding: 10px 0px;
}
